<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Info.plist
   MindWay

   Created by 이승화 on 3/29/24.
   Copyright (c) 2024 team.mindway. All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
